body{
  background-image: url("Superhero-Cover.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
  width: auto;
}

.container{
    margin-top: 15%;
    background-color: inherit;
    padding: 10px 20px;
    opacity: 0.92;
}

.form-style-2{
    max-width: 600px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style-2 label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
    width: 160px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

span.required{
    color:red;
}

input.input-field{
    width: 48%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

#btn{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#btn :hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#hero-details{
    column-count: 2;
    column-gap: 2px;
    column-rule: 1px solid #968585;
}

.heroDisplay{
    width: 50px;
    font-weight: bold;
}
