<p>$hero.getName()</p></a>
<ul>
    <li>$hero.getAge()</li>
    <li>$hero.getPower()</li>
    <li>$hero.getWeakness()</li>
</ul>

<a href="/heroes/new">Add another hero</a>
<br>
<a href="/heroes">All available Heroes</a>
